---
import BaseLayout from '../layouts/baseLayout.astro';
import Sidebar from '../components/sidebar.astro';
import GameDevBanner from '../components/gamedev/gallerybanner.astro';
import GameDevCards from '../components/gamedev/gallerycards.astro';
import Backtotop from '../components/backtotop.astro';
import DustParticle from '../components/dustParticle.astro';
---

<BaseLayout title="Game Development">
  <Sidebar slot="sidebar" />
  
  <link rel="stylesheet" href="/styles/gallery.css" />
  <script src="/scripts/highlight.js" defer></script>

  <h1>🎲 Game Dev Gallery</h1>

  <div class="filters">
    <button data-filter="all">Show All</button>
    <button data-filter="Game">Game</button>
    <button data-filter="UI">UI</button>
    <button data-filter="Concept">Concept</button>
    <button data-filter="Animation">Animation</button>
    <button data-filter="Character">Character</button>
    <button data-filter="Environment">Environment</button>
  </div>

  <section class="gallery-banner">
    <GameDevBanner />
  </section>

  <div class="gallery">
    <GameDevCards />
  </div>
  
  <Backtotop />

  <script src="/scripts/filter.js" defer></script>

</BaseLayout>

<DustParticle />
