--- 
import '/public/styles/home.css';
import DustParticle from '../components/dustParticle.astro';
---

<h1>🌻 Welcome to My Portfolio</h1>

<blockquote class="intro">
<p>Hi, I’m Hannah. <br>
I’m a visual designer, game dev, illustrator, and storyteller building cozy worlds filled with magic, nature, and adventure. <br>
This portfolio is my creative garden, a place to explore my work across games, UX, illustration, branding, and photography. <br>
Grab a cup of tea ☕ and wander around.</p>
</blockquote>

<DustParticle />