--- 
import '/public/styles/home.css';
import DustParticle from '../components/dustParticle.astro';
---

<h1>🌻 Welcome to My Portfolio</h1>

<blockquote class="intro">
  <p>
    Hi, I’m Hannah. <br>
    I’m a visual designer, game developer, illustrator, and storyteller creating cozy worlds filled with magic, nature, and adventure.
    This portfolio is my creative garden; a space to explore my work across games, UX design, illustration, branding, photography, and interactive storytelling.
    Grab a cup of tea ☕ and wander awhile.
  </p>
</blockquote>

<section class="about-me">
<br>
  <h2>About Me</h2>
<br>
  <p>
    I’m a Visual Communication Design graduate from Eastern Washington University with certificates in User Experience and Front End Web Design.
  </p>

  <p>
    My work focuses on storytelling, interaction, and atmosphere, blending visual design, UX, illustration, and front-end development to create experiences that feel immersive, intuitive, and emotionally resonant.
  </p>

  <p>
    I’m especially passionate about the quiet details people may not consciously notice: soft lighting, environmental storytelling, subtle motion, texture, emotional tone, etc. I believe those small choices are what transform something functional into something memorable and deeply human.
  </p>

  <p>
    Much of my inspiration comes from nature, fantasy, games, handcrafted aesthetics, and the feeling of exploration. Whether I’m designing interfaces, building worlds, or experimenting with new creative mediums, I care deeply about creating welcoming spaces that invite curiosity, comfort, and connection.
  </p>
</section>
<br>


<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>

<section>
<p class="socials">
  🌿 Find me on 
  <br>
<div class="social-links">
  <a href="https://www.linkedin.com/in/hannahgreen-interactive-design" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
  </a>
<br>
  <a href="https://github.com/HGreen9" target="_blank" aria-label="GitHub">
    <i class="fa-brands fa-github"></i>
  </a>
<br>
  <a href="https://www.instagram.com/rowanberry._.official" target="_blank" aria-label="Instagram">
    <i class="fa-brands fa-instagram"></i>
  </a>
</div>
</section>

<DustParticle />