---
import Tabs from '../components/Tabs.astro';
import Gallery from '../components/Gallery.astro';

const subjects = [
  {
    key: 'nature',
    label: 'Nature',
    images: ['/img/forest.jpg','/img/leaf.jpg','/img/mountain.jpg']
  },
  {
    key: 'architecture',
    label: 'Architecture',
    images: ['/img/building1.jpg','/img/bridge.jpg','/img/city.jpg']
  },
  {
    key: 'portraits',
    label: 'Portraits',
    images: ['/img/person1.jpg','/img/person2.jpg','/img/person3.jpg']
  }
];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Gallery</title>
    <link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
    <h1>My Gallery</h1>
    <Tabs items={subjects} />
  </body>
</html>
