<nav>
  <a href="/">Home</a>
  <a href="/illustration">Illustration</a>
  <a href="/gamedev">Game Dev</a>
  <a href="/web">Web</a>
  <a href="/ux">UX</a>
  <a href="/photography">Photography</a>
  <a href="/branding">Brand & Ad</a>
</nav>
