---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import Sidebar from '../../components/Sidebar.astro';
---

<ProjectLayout
  title="Kobold Artificer"
  icon="🧪"
  year="2026"
  medium="Digital Illustration"
  tags={["Digital"]}
  image="/images/Kobold2026.png"
  backLink="/illustration"
>

  <Fragment slot="breadcrumb">
    <a href="/">Home</a> / <a href="/illustration">Illustration</a> / <span>Kobold Artificer</span>
  </Fragment>

  <Sidebar slot="sidebar" />

  <section class="project-description">
    <h2>About the Project</h2>
    <p>
      Meet Nib, a kind-hearted and slightly oblivious kobold artificer following the alchemist subclass, created for a dnd campaign in 2026.
        </p>
  </section>

  <section class="project-tools">
    <h2>Tools Used</h2>
    <ul>
      <li>ibisPaint X</li>
    </ul>
  </section>
</ProjectLayout>
