---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import Sidebar from '../../components/Sidebar.astro';
import Sparkle from '../../components/Sparkle.astro';
---

<ProjectLayout
  title="The Princess and the Knight"
  icon="🗡️"
  year="2026"
  medium="Digital"
  tags={["Digital"]}
  image="/images/Princess&Knight2026.png"
  backLink="/illustration"
>
<Sparkle />

  <Fragment slot="breadcrumb">
    <a href="/">Home</a> / <a href="/illustration">Illustration</a> / <span>The Princess and the Knight</span>
  </Fragment>

  <Sidebar slot="sidebar" />

  <section class="project-description">
        <section class="project-description animate-slide">
        <h2>About the Project</h2>

    <p>
      This artwork was a comission for a fantasy novel cover. The client wanted a moody, atmospheric scene of a princess and knight at the height of their journey. I aimed to capture a sense of mystery and melancholy while highlighting the bond between the characters. We agreed to leave the characters faceless, to allow readers to project themselves into the story and evoke a universal sense of adventure and longing.
    </p>
   <br>
    <p>
      I began with a series of thumbnails to explore different compositions and moods. After selecting a direction, I created a detailed sketch to establish the characters' poses and the overall atmosphere. The final piece was rendered digitally, using a muted color palette to enhance the somber tone of the scene. I focused on creating a strong contrast between light and shadow to draw attention to the characters while maintaining an air of mystery. The result is a hauntingly beautiful image that captures the essence of the story and invites viewers to imagine the world beyond the frame.
    </p>
        </section>
  </section>

  <section class="project-tools">
    <h2>Tools Used</h2>
    <ul>
      <li>ibisPaint X</li>
    </ul>
  </section>

</ProjectLayout>