  <a href="#dreamlike" class="frame" data-tags="Mixed ConceptArt" title="Dreamlike Forest">
    <img src="/images/example1.jpg" alt="Dreamlike Forest" />
  </a>
  <a href="#moth" class="frame offset" data-tags="Digital Sketch" title="Moth Guardian">
    <img src="/images/example2.jpg" alt="Moth Guardian" />
  </a>
  <a href="#piece1" class="frame" data-tags="Mixed ConceptArt" title="Whispers of the Canopy">
    <img src="/images/example1.jpg" alt="Whispers of the Canopy" />
  </a>
  <a href="#piece2" class="frame offset" data-tags="ConceptArt" title="Clockwork Moth">
    <img src="/images/example2.jpg" alt="Clockwork Moth" />
  </a>
  <a href="#piece7" class="frame" data-tags="Mixed" title="Lantern Spirits">
    <img src="/images/example7.jpg" alt="Lantern Spirits" />
  </a>